
<div class="container body-content span=8 offset=2">
    <div class="well col-lg-9">
        <a class="btn btn-default btn-xs pull-right" href="/user/details/{{user.id}}">Back &raquo;</a>
        <form class="form-horizontal" method="POST" action="/user/adminAdd">
            <fieldset>
                <legend>Add Admin</legend>
                <div class="form-group">

                    <div class="clearfix"></div>
                    {{#if errorMsgForAdminAdd}}
                    <p align="center" style="color:red;">{{errorMsgForAdminAdd}}</p>
                    {{/if}}
                    {{#if successMsgForAdminAdd}}
                    <p align="center" style="color:#009933;">{{successMsgForAdminAdd}}</p>
                    {{/if}}
                    <div class="input-group col-md-8" style="margin-left: 16%">
                        <input type="text" class="form-control" id="emailAdminAdd" placeholder="Add Admin" required name="emailAdminAdd">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-cool btn-block">Add Admin</button>
                        </span>
                    </div>

                    <div class="bot-border"></div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </form>

        <form class="form-horizontal" method="POST" action="/user/userDelete">
            <fieldset>
                <legend>Delete User</legend>
                <div class="form-group">

                    <div class="clearfix"></div>
                    {{#if errorMsgForUserDelete}}
                    <p align="center" style="color:red;">{{errorMsgForUserDelete}}</p>
                    {{/if}}
                    {{#if successMsgForUserDelete}}
                    <p align="center" style="color:blueviolet;">{{successMsgForUserDelete}}</p>
                    {{/if}}
                    <div class="input-group col-md-8" style="margin-left: 16%">
                        <input type="text" class="form-control" id="emailUserDelete" placeholder="Delete User" required name="emailUserDelete">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-cool btn-block">Delete User</button>
                        </span>
                    </div>

                    <div class="bot-border"></div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </form>

        <form class="form-horizontal" method="POST" action="/user/adminDelete">
            <fieldset>
                <legend>Delete Admin</legend>
                <div class="form-group">

                    <div class="clearfix"></div>
                    {{#if errorMsgForAdminDelete}}
                    <p align="center" style="color:red;">{{errorMsgForAdminDelete}}</p>
                    {{/if}}
                    {{#if successMsgForAdminDelete}}
                    <p align="center" style="color:blueviolet;">{{successMsgForAdminDelete}}</p>
                    {{/if}}

                    <div class="input-group" style="margin-left: 16%">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="emailAdminDelete" placeholder="Delete Admin" required name="emailAdminDelete">
                        </div>

                        <div class="col-md-4">
                            <input type="password" class="form-control" id="masterPassword" placeholder="Master Password" required name="masterPassword">
                        </div>

                        <!-- Still needs little fixing. -->
                        <div class="col-sm-4">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-cool btn-block">Delete Admin</button>
                            </span>
                        </div>
                    </div>

                    <div class="bot-border"></div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
