<div class="container">
    <div class="row">
        <div class="col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 >User Profile</h4>

                    <a href="/user/EditProfile/{{user.id}}">Edit</a>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;" >click here to change profile image</div>
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h3 style="color:#00b1b1;"> {{user.fullName}}</h3>
                                <span>
                                    {{#if user.isAdmin}}
                                        <div>
                                            <h4 style="color:#4669b1;"> Admin</h4>
                                        </div>
                                    {{/if}}
                                    {{#unless user.isAdmin}}
                                        <div>
                                            <h4 style="color:#4669b1;"> User</h4>
                                        </div>
                                    {{/unless}}
                                </span>
                            </div>

                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-success">User Settings</a>
                                <a href="#" class="btn btn-success">Things</a>
                                <a href="#" class="btn btn-success">More Things</a>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 "> {{editProfile.firstName}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> {{editProfile.lastName}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7"> {{user.joinDate}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7"> {{editProfile.birthday}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div><div class="col-sm-7"> {{editProfile.birthPlace}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Current Address:</div><div class="col-sm-7"> {{editProfile.currentAddress}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7"> {{editProfile.nationality}}</div>

                            {{#if user.isAdmin}}
                            <form class="form-horizontal" method="POST" action="/user/details/{{id}}">

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <br>

                                <input type="text" class="form-control" id="email" placeholder="Add Admin" required name="email">
                                <div class="bot-border"></div>
                                <button type="submit" class="btn btn-success btn-block">Add Admin</button>
                            </form>
                            {{/if}}

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function() {
                $('#profile-image1').on('click', function() {
                    $('#profile-image-upload').click();
                });
            });
        </script>
    </div>
</div>
