<div class="container body-content span=8 offset=2">
    <div class="well col-lg-9">
        <a class="btn btn-default btn-xs pull-right" href="/user/details/{{user.id}}">Back &raquo;</a>
        <form class="form-horizontal" method="POST" action="/user/editProfile/{{user.id}}">
            <fieldset>
                <legend>Edit User Profile</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="fullName" value="{{user.fullName}}" name="fullName">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="email" value="{{user.email}}" name="email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Date of Birth</label>
                    <div class="col-sm-4 ">
                        <input type="date" class="form-control" id="birthDate" value="{{user.birthDate}}" name="birthDate">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Place of Birth</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="birthPlace" value="{{user.birthPlace}}" name="birthPlace">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Current Address</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="currentAddress" value="{{user.currentAddress}}" name="currentAddress">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Nationality</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="nationality" value="{{user.nationality}}" name="nationality">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <p style="color:red;">{{error}}</p>
                        <a class="btn btn-default" href="/user/details/{{user.id}}">Cancel</a>
                        <button type="submit" class="btn btn-success">Update Profile</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
