<div class="container body-content">
    <div class="well col-lg-9">
        <a class="btn btn-default btn-xs pull-right" href="/user/details/{{user.id}}">Back &raquo;</a>
        <div class="row">
            <div class="col-md-12">
            <div class="page-header">
               <h1 class="text-center">Your Discussions</h1>
            </div>
          <div class="row">
              <div class="col-sm-12">
                <ul class="list-group">
                    {{#if discussions}}
                    {{#each discussions}}
                    <li class="list-group-item"><a href="/discussion/details/{{this.id}}">{{this.title}}</a>
                        <div class="pull-right">
                            <a class="btn btn-cool btn-xs" href="/discussion/edit/{{this.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/discussion/delete/{{this.id}}">Delete &raquo;</a>
                        </div>
                    </li>
                    {{/each}}
                    {{else}}
                        <h2 class="text-center">You don't have any discussions yet!</h2>
                    {{/if}}
                </ul>
              </div>
          </div>
            </div>
        </div>
    </div>
</div>
