<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="sectionMain">
            <article>
                <header>
                    <h2 class="discussion-title">{{discussion.title}}</h2>
                </header>



                <p class="content">
                    {{discussion.content}}
                </p>
                <p class="author-cool">
                    {{discussion.author.fullName}}
                </p>

                <footer>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-cool btn-xs" href="/discussion/edit/{{discussion.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/discussion/delete/{{discussion.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>

            {{#each replies}}
            <div class="replyMain">
                <article>
                <p style="color: #000;">{{this.date}}</p>
                <h4>{{this.content}}</h4>
                <small class="author">{{this.author.fullName}}</small>

                </article>
            </div>
            {{/each}}
            <br>
                <div class="replyMain">
                    <form class="form-horizontal" method="POST" action="/discussion/details/{{discussion.id}}">
                        <fieldset style="align-content: center">
                            <div class="form-group" style="margin-left: 6%">
                                <h2 class="font-color-next" style="margin-left: 36%">Reply</h2>
                                <h4 class="font-color-next">Content</h4>
                                <textarea id="replyContent" name="replyContent" rows="8" cols="120"></textarea>
                            </div>
                            <div class="form-group">
                                    {{#if error}}
                                    <p style="color:red;">{{error}}</p>
                                    {{/if}}
                                    <button style="margin-left: 7%" type="submit" class="btn btn-cool">Reply</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
