<div class="container body-content">
    <div class="row">

        {{#each discussions}}
            <div class="col-md-12">

                <div class="sectionMain">
                    <div class="tactical_cont">
                        <h2>{{this.title}}</h2>

                    <article>
                        //Fixing this.date
                        <small class="author">
                            {{this.author.fullName}} : {{this.date}}
                        </small>
                        <br>
                        <br>
                        <p>{{this.content}}</p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="/discussion/details/{{this.id}}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                    </div>
                </div>
            </div>

        {{/each}}
    </div>
</div>
