<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="pull-right">{{user.email}}</h4>
                    <h4 >User Profile</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div  align="center">
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                </div>
                                <br>
                            </div>

                            <div class="col-sm-6">
                                <h1 style="color:#00b1b1;">Angel</h1>
                                <h3 style="color:#4669b1;"> Admin</h3>
                            </div>

                            <a class="div-cool"></a>

                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 "> {{user.fullName}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7"> {{user.joinDate}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7"> {{user.birthDate}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div><div class="col-sm-7"> {{user.birthPlace}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Current Address:</div><div class="col-sm-7"> {{user.currentAddress}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7"> {{user.nationality}}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
