<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="sectionMain">
                <article>
                    <header>
                        <h2 class="discussion-title">{{news.title}}</h2>
                    </header>

                    <p class="content">
                        {{news.content}}
                    </p>

                    <p class="author-cool">
                        {{news.author.fullName}} : {{news.date}}
                    </p>


                    <footer>
                        <div class="pull-right">
                            {{#if isUserAuthorized}}
                            <a class="btn btn-cool btn-xs" href="/news/edit/{{news.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/news/delete/{{news.id}}">Delete &raquo;</a>
                            {{/if}}
                            <a class="btn btn-default btn-xs" href="/news/listAll/">Back &raquo;</a>
                        </div>
                    </footer>
                    <form method="POST" action="/news/details/rating/{{news.id}}">
                        <fieldset>
                            <select name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <button type="submit" class="btn btn-cool">Vote</button> {{rating}}
                        </fieldset>
                    </form>
                </article>


                {{#each replies}}
                <div class="replyMain">
                    <h2 class="content">{{this.content}}</h2>
                    <p class="author-cool">{{this.author.fullName}}: {{this.date}}</p>
                </div>
                {{/each}}

                <div class="replyMain">
                    <form class="form-horizontal" method="POST" action="/news/details/{{news.id}}">
                        <fieldset>
                                <h2 class="font-color-next" style="text-align:center">Reply</h2>
                                <textarea maxlength="500" class="form-control" id="replyContent" name="replyContent" rows="5"></textarea>
                                {{#if error}}
                                    <p style="color:red;">{{error}}</p>
                                {{/if}}
                                <br>
                                <button type="submit" id="replyButton" class="btn btn-cool">Reply</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
