<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="sectionMain">
                <article>
                    <header>
                        <h2>{{news.title}}</h2>
                    </header>

                    <p>
                        {{news.content}}
                    </p>

                    <small class="author">
                        {{news.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {{#if isUserAuthorized}}
                            <a class="btn btn-cool btn-xs" href="/news/edit/{{news.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/news/delete/{{news.id}}">Delete &raquo;</a>
                            {{/if}}
                            <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                        </div>
                    </footer>
                </article>

                {{#each replies}}
                <div class="replyMain">
                    <h4>{{this.content}}</h4>
                    <small class="author">{{this.author.fullName}}</small>
                    <p style="color: #000;">{{this.date}}</p>
                </div>
                {{/each}}

                <div class="replyMain">
                    <form class="form-horizontal" method="POST" action="/news/details/{{news.id}}">
                        <fieldset>
                                <h2 class="font-color-next" style="text-align:center">Reply</h2>
                                <textarea class="form-control" id="replyContent" name="replyContent" rows="5"></textarea>
                                {{#if error}}
                                    <p style="color:red;">{{error}}</p>
                                {{/if}}
                                <br>
                                <button type="submit" id="replyButton" class="btn btn-cool">Reply</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
