<div class="container body-content">
    <div class="row">

        <div class="col-md-12">
            <form role="search" method="POST" style="width: 20em; margin: 0.3em 2em; margin-left: inherit" action="/news/listAll">
                <div class="input-group">
                    <input type="text" class="form-control" id="newsSearch" name="newsSearch" placeholder="Search News" maxlength="20" value={{searchNews}}>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-cool">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
                {{#if news}}
                    <div class="sectionMain">
                        {{#each news}}
                            <article>
                                <header>
                                <h2>{{this.title}}</h2>
                                </header>

                                <small class="author">
                                    {{this.author.fullName}} : {{this.date}}
                                </small>

                                <footer>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs" href="/news/details/{{this.id}}">Read more &raquo;</a>
                                    </div>
                                </footer>
                            </article>
                    {{/each}}
                    </div>
                {{/if}}
        </div>
    </div>
</div>
